<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @cocktail.photo %>');">
		<div class="banner-content">
	    <h1><%= @cocktail.name %></h1>
	    <% @doses.each do |dose| %>
	    <h2> <%= dose.description  %> of <%= dose.ingredient.name %> <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, dose_path(dose),
      		method: :delete,
      		data: { confirm: "Are you sure?" }  %> <%= link_to "<i class='far fa-edit'></i>".html_safe, edit_cocktail_dose_path(@cocktail.id, dose.id) %></h2> 
        <% end %>  
	    	
	    <%= link_to new_cocktail_dose_path(@cocktail) do  %>
		<p class="btn-medium">Add a new dose</p>
		<% end %>
  	</div>
</div>



